extends layout 

block content
  .flex.flex-row.flex-wrap.mt-4
  .mx-auto(class='w-4/5')
    // Profile Card
    .rounded-lg.shadow-lg.bg-gray-600.w-full.flex.flex-row.flex-wrap.p-3.antialiased(style="\
    background-image: url('https://images.alphacoders.com/117/1174520.jpg');\
    background-repeat: no-repat;\
    background-size: cover;\
    background-blend-mode: multiply;\
    ")
      .w-full(class='md:w-1/3')
        img.rounded-lg.shadow-lg.antialiased.w-96.h-96(src='/images/liscia.jpg')
      .w-full.px-3.flex.flex-row.flex-wrap(class='md:w-2/3')
        .w-full.text-gray-700.font-semibold.relative.pt-3(class='md:pt-0')
          
          p(class='text-2xl text-white leading-tight') Liscia Elfrieden
          .text-normal.text-white.mb-6.mt-6
            a(target="_blank" href='https://discord.com/oauth2/authorize?client_id=877208854360883243&permissions=535016504406&scope=bot' class='text-2xl text-white leading-tight') Invite
          p.text-white DiscordJS Music Bot written in NodeJS, TypeScript, DiscordJS (v13) Distube
          .text-sm.text-gray-300.cursor-pointer.pt-3.bottom-0.right-0(class='hover:text-gray-400 md:absolute md:pt-0') 
            p Characters are from: 
            b 
                a(target="_blank" href='https://en.wikipedia.org/wiki/How_a_Realist_Hero_Rebuilt_the_Kingdom') Genjitsu Shugi Yuusha no Oukoku Saikenki
