footer.footer.bg-gray-800.relative.border-b-2.border-gray-900.border-t-2
  .mx-auto.px-6.bg-gray-800
    .flex.flex-col.items-center
      .text-center.py-6
        p.text-sm.text-gray-200.font-bold
          | &copy; 2022 by PoProstuWitold
